<!DOCTYPE HTML>
<html lang="pt-br">
	<head>
		<meta charset="UTF-8">
		<title>MMORPG - Game of Thrones</title>
  	<script src="js/jquery-2.2.1.js"></script>
  	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">
		<link href="css/style.css" rel="stylesheet">
	</head>
	<body class="body-game">
		<nav class="navbar navbar-default navbar-static-top">
      <form class="form-inline form-entrar" action="/exit" method="post">
        <div class="container">
          <div class="form-group exit">
            <button type="submit" class="btn btn-info pull-right">Sair</button>
          </div>
        </div>
      </form>
		</nav>
    <div class="container">
      <div class="row">
          <div class="col-sm-3 house">
          <img src="images/houses/martell.jpg" />
        </div>
        <div class="col-sm-9">
          <div class="row bar-upper">
            <div class="col-sm-2"> 
              <img src="images/skills/fear.jpg" title="Temor" alt="Temor" />
              <span>754</span>
            </div>
            <div class="col-sm-2"> 
              <img src="images/skills/wisdow.jpg" title="Sabedoria" alt="Sabedoria"/>
              <span>754</span>
            </div>
            <div class="col-sm-2"> 
              <img src="images/skills/trade.jpg" title="Comércio" alt="Comércio"/>
              <span>754</span>
            </div>
            <div class="col-sm-2"> 
              <img src="images/skills/magic.jpg" title="Magia" alt="Magia"/>
              <span>754</span>
            </div>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-sm-3"></div>
        <div class="col-sm-9">
          <div class="actions"></div>					
        </div>
      </div>
    </div>
    <div class="bar-bottom">
      <div class="container">
        <div class="row">
          <div class="col-sm-1">
            <img src="images/others/vassal.jpg" title="Aldeões" alt="Aldeões"/>
          </div>
          <div class="col-sm-1">
            <img src="images/others/parchment.jpg" title="Pergaminhos" alt="Pergaminhos"/>
          </div>
          <div class="col-sm-8"></div>
          <div class="col-sm-2">
            <img src="images/others/coin.jpg" title="Moeda" alt="Moeda"/>
            <span>25</span>
          </div>
        </div>
      </div>
    </div>
	</body>
</html>