<!DOCTYPE HTML>
<html lang="pt-br">
	<head>
		<meta charset="UTF-8">
		<title>MMORPG - Game of Thrones</title>
		<script src="js/jquery-2.2.1.js"></script>
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">
		<link rel="stylesheet" href="css/style.css">
	</head>
	<body class="body-index">
		<nav class="navbar navbar-default navbar-static-top">
			<div class="container">
				<form class="form-inline form-enter">
					<div class="form-group">				
						<button type="button" class="btn btn-success">Voltar</button>
					</div>
				</form>
			</div>
		</nav>
    <div class="container">
      <% if(validation && validation.length > 0) { %>
        <div class="row">
          <div class="col-md-12">
            <div class="alert alert-danger">
              <strong>Atenção!</strong>
              <ul>
                <% for(var i = 0; i < validation.length; i++) { %>
                  <li>
                    <%= validation[i].msg %>
                  </li>
                <% } %>
              </ul>
            </div>
          </div>
        </div>
      <% } %>
			<form class="form-register" action="register" method="POST">
				<div class="row">
					<div class="col-xs-4">
						<div class="form-group">
							<label for="nome" class="col-sm-2 col-form-label">Nome</label>
							<input type="nome" class="form-control" value="<%=data.name %>" name="name" id="name" placeholder="Nome">
						</div>
					</div>
					<div class="col-xs-4">
						<div class="form-group">
							<label for="usuario" class="col-sm-2 col-form-label">Usuário</label>
							<input type="usuario" class="form-control" value="<%=data.user %>" name="user" id="user" placeholder="Usuário">
						</div>
					</div>
					<div class="col-xs-4">
						<div class="form-group">
							<label for="senha" class="col-sm-2 col-form-label">Senha</label>
							<input type="password" class="form-control" value="<%=data.key %>" name="key" id="key" placeholder="Password">
						</div>
					</div>
				</div>
				<div class="form-group row">
          <div class="col-xs-2">
            <img src="images/houses/arryn.jpg" class="img-responsive img-radio">
            <center>
              <input type="radio" id="left-item" name="house" value="arryn"> Casa Arryn
            </center>
          </div>
					<div class="col-xs-2">
            <img src="images/houses/baratheon.jpg" class="img-responsive img-radio">
						<center>
							<input type="radio" id="left-item" name="house" value="baratheon"> Casa Baratheon
						</center>
          </div>
					<div class="col-xs-2">
            <img src="images/houses/greyjoy.jpg" class="img-responsive img-radio">
						<center>
							<input type="radio" id="left-item" name="house" value="greyjoy"> Casa Greyjoy
						</center>
          </div>
					<div class="col-xs-2">
              <img src="images/houses/lannister.jpg" class="img-responsive img-radio">
						<center>
							<input type="radio" id="left-item" name="house" value="lannister"> Casa Lannister
						</center>
          </div>
					<div class="col-xs-2">
            <img src="images/houses/martell.jpg" class="img-responsive img-radio">
						<center>
							<input type="radio" id="left-item" name="house" value="martell"> Casa Martell
						</center>
          </div>
					<div class="col-xs-2">
        		<img src="images/houses/stark.jpg" class="img-responsive img-radio">
						<center>
							<input type="radio" id="left-item" name="house" value="stark"> Casa Stark
						</center>
        	</div>
        </div>
				<div class="form-group row">
					<div class="col-xs-3"></div>
          <div class="col-xs-2">
            <img src="images/houses/targaryen.jpg" class="img-responsive img-radio">
            <center>
              <input type="radio" id="left-item" name="house" value="targaryen"> Casa Targaryen
            </center>
          </div>
          <div class="col-xs-2">
            <img src="images/houses/tully.jpg" class="img-responsive img-radio">
            <center>
              <input type="radio" id="left-item" name="house" value="tully"> Casa Tully
            </center>
          </div>
          <div class="col-xs-2">
            <img src="images/houses/tyrell.jpg" class="img-responsive img-radio">
            <center>
              <input type="radio" id="left-item" name="house" value="tyrell"> Casa Tyrell
            </center>
          </div>
          <div class="col-xs-3"></div>
        </div>		
				<div class="form-group row">
					<button type="submit" class="btn btn-primary">Confirmar cadastro</button>
				</div>
			</form>
    </div>
	</body>
</html>