<!DOCTYPE html>
<html lang="pt-br">
	<head>
		<meta charset="utf-8"/>
		<title>Formulário de cadastro de Notícia</title>
	</head>
	<body>
		<h1>Adicionar notícia</h1>
		<br/>
		<form action="../news" method="post">
			<label>Titulo</label>
			<br/>
			<input type="text" id="title" name="title" placeholder="titulo da noticia"/>
			<br/>
			<label>Noticia</label>
			<br/>
			<textarea id="news" name="report" placeholder="noticia"/></textarea>
			<br/>
			<input type="submit" value="Enviar"/>
		</form>
	</body>
</html>